@keyframes colorCycle {
  0% {
    color: var(--accent-color);
  }
  10% {
    color: var(--orange);
  }
  20% {
    color: var(--accent-color);
  }
  30% {
    color: var(--green);
  }
  40% {
    color: var(--accent-color);
  }
  50% {
    color: var(--blue);
  }
  60% {
    color: var(--accent-color);
  }
  70% {
    color: var(--purple);
  }
  80% {
    color: var(--accent-color);
  }
  90% {
    color: var(--red);
  }
  100% {
    color: var(--accent-color);
  }
}
