.title {
  text-align: center;
  padding: 2rem;
}

.title h1 {
  color: var(--accent-color);
  margin: 0;
  font-size: 2.5em;
  animation: colorCycle 60s infinite;
}

.title p {
  font-size: 1.2em;
  margin-top: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.card {
  background-color: var(--background-color-light);
  color: var(--text-color);
  border-radius: 8px;
  padding: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.card h2 {
  margin: 0;
  font-size: 1.5em;
  color: var(--accent-color);
}

.card p {
  margin: 0.5rem 0;
  font-size: 1em;
  color: var(--text-color);
}

.card:hover {
  transform: scale(1.05);
  background-color: var(--tacchino);
}

header {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

header ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}
