:root {
  --red: #e67e80;
  --orange: #e69875;
  --yellow: #dbbc7f;
  --green: #a7c080;
  --blue: #7fbbb3;
  --aqua: #83c092;
  --purple: #9d8abf;

  --background-color: #272e33;
  --accent-color: var(--yellow);
  --text-color: #9da9a0;
}
