/* This depends on other files, which are imported somewhere else. Is it bad? */

.hero {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero h1 {
  color: var(--accent-color);
  margin: 0;
  font-size: 2.5em;
  animation: colorCycle 60s infinite;
}

.hero p {
  font-size: 1.2em;
  margin-top: 0.5em;
}

header {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: contents;
}

header ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

header ul li a:hover {
  animation: colorCycle 10s infinite;
}
