/* This depends on other files, which are imported somewhere else. Is it bad? */

.hero {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero h1 {
  color: var(--accent-color);
  margin: 0;
  font-size: 2.5em;
  animation: colorCycle 60s infinite;
}

.hero p {
  font-size: 1.2em;
  margin-top: 0.5em;
}
