@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("colors.css");
@import url("background-shapes.css");
@import url("animations.css");

:root {
  --accent-color: var(--yellow);
}

body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: contents;
}

header ul li a {
  color: var(--text-color);
  font-weight: bold;
}

header ul li a:hover {
  animation: colorCycle 10s infinite;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.8em;
}

footer p em {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

/* Generic stuff for consistency */

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  color: var(--accent-color);
}

h1:hover {
  animation: colorCycle 5s infinite;
}

h2 {
  font-size: 1.2em;
  margin: 0;
  color: var(--accent-color);
}

.btn {
  color: var(--text-color);
  font-weight: bold;
  display: inline-block; /* Ensure proper scaling behavior */
}

.btn:hover {
  animation: colorCycle 10s infinite;
  transform: scale(1.2); /* Uniform scaling to avoid layout shifts */
  transition: transform 0.1s ease-in-out;
}
