@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("colors.css");

:root {
  --accent-color: var(--yellow);
}

body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  background-color: var(--background-color);
  color: var(--text-color);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.8em;
}

footer p em {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
