@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --red: #e67e80;
  --orange: #e69875;
  --yellow: #dbbc7f;
  --green: #a7c080;
  --blue: #7fbbb3;
  --aqua: #83c092;
  --purple: #9d8abf;

  --background-color: #272e33;
  --accent-color: var(--yellow);
  --text-color: #9da9a0;
}

body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  background-color: var(--background-color);
  color: var(--text-color);
}

.top,
.bottom {
  padding: 15px 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.top {
  position: absolute;
  top: 0;
  width: 100%;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.top ul,
.bottom ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: contents;
}

.top ul li a,
.bottom ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

.top ul li a:hover,
.bottom ul li a:hover {
  color: var(--accent-color);
}

.bottom ul li {
  color: var(--text-color);
}

.hero {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero h1 {
  color: var(--accent-color);
  margin: 0;
  font-size: 2.5em;
}

.hero p {
  font-size: 1.2em;
  margin-top: 0.5em;
}
